//
// Voron Customizations
//

//
// Color Definitions
//
$grey-dk-400: #2c2f33;
$grey-dk-500: #23272a;
$red-400: #bd0f0f;
$red-500: #760a0a;
$voron-red-30: #dd6670;
$voron-red-40: #ff3341;
$voron-red-50: #ff0213;
$voron-red-60: #cc000e;
$voron-red-70: #99000a;
$voron-red-80: #dd0007;
$voron-link-purple: #661aff;

//
// Body Elements
//
$body-background-color: $grey-dk-400;
$body-heading-color: $voron-red-60;
$btn-primary-color: $voron-red-40;
$link-color: $voron-red-40;

// Copied from JTD dark theme
$sidebar-color: $grey-dk-500;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
